html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    font-family: "RaleWay-bold";
    background-color: rgb(12, 15, 15);
    color: aliceblue;
    line-height: 1.5;
}

header {
    width: 100%;
    height: 80px;
    background-color: #141414;
}

.header-con {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-con > .header-logo-box {
    display: flex;
}

.header-con > .header-right-buttons {
    font: normal normal 300 20px Raleway;
    display: flex;
    column-gap: 80px;
    margin-right: 20px;
    align-items: center;
}

#return-to-top-but { /* rttb */
    position: fixed;
    left: calc(50% - 175px);
    width: 350px;
    height: 55px;

    border-radius: 20px;
    background-color: rgba(151, 210, 210, 0.4);

    backdrop-filter: blur(9px);

    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
    z-index: 99;

    text-align: center;
    font: normal normal 200 20px Raleway;
    color: rgb(223, 223, 223);
}

.vert-align-rttb {
    position: relative;
    top: calc(50% - 0.6em);
}

.enable-rttb {
    bottom: 35px;
    z-index: 99;
}

.disable-rttb {
    bottom: -60px;
    z-index: -1;
}

.a,
.a:link,
.a:visited,
.a:active {
    color: white;
    text-decoration: none;
    opacity: 0.5;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
}

.a:hover {
    opacity: 1;
}

#logo {
    width: 80px;
    margin: 0px;
}

ul {
    list-style-type: none;
}

.canvas1200 {
    width: 1200px;
    margin: auto;
}

.space40 {
    height: 80px;
}

#main-phrase {
    margin: 290px 0px 300px 0px;
    top: 383px;
    left: 360px;
    /* UI Properties */
    text-align: left;
    font: normal normal 800 160px/211px Raleway;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.line {
    height: 1px;
    background-color: #BCFFFA;
    /* border: 1px solid #BCFFFA; */
    opacity: 0.5;
}

.interesting {
    text-align: center;
    margin: 25px 0px 80px 0px;
    font: normal normal 300 30px Raleway;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 0.5;
    border-bottom: none;
}

.block-title {
    text-align: left;
    font: normal normal 600 90px Raleway;
    color: #FFFFFF;
    letter-spacing: 0px;
    opacity: 1;
}

.block-text {
    text-align: left;
    font: normal normal 200 30px Raleway;
    color: #FFFFFF;
    letter-spacing: 0px;
    opacity: 0.9;
}


.block-square {
    /* border: 1px solid rgba(255, 255, 255, 0.389); */
    border-radius: 25px;

    width: 586px;
    height: 586px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
    margin: 7px;

    background-size: 100%;
    background-repeat: no-repeat;
    
    box-shadow: inset 0px -80px 80px rgba(6, 8, 11, 0.855);

    opacity: 0.75;
}

.block-square:hover {
    opacity: 1;
}

.way-title {
    position: relative;
    top: 460px;
    left: 60px;
    font-size: 50px;
    font-weight: 200;
}

#modelling {
    background-image: url("Pics/modelling.png");
}

#code {
    background-image: url("Pics/coder.png");
}

#level-design {
    background-image: url("Pics/level.png");
}

#graphics {
    background-image: url("Pics/graph.png");
}

.fog-box {
    position: relative;
}

.fog {
    position: absolute;
    left: calc(50%-250px);
    top: 100%;
    z-index: -2;

    display: block;
    height: 500px;
    width: 900px;
    -webkit-filter: blur(130px);
    -moz-filter: blur(130px);
    -o-filter: blur(130px);
    -ms-filter: blur(130px);
    filter: blur(130px);
    background-image: url('Pics/fog2.svg');
}

.student-galary {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(7, 100px);    ;
    grid-gap: 20px;
}

.block-img-in-grid {
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
}

.grid-item1 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
    background-image: url("Pics/coder.png");
}

.grid-item2 {
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 3;
    background-image: url("Pics/level.png");
}

.grid-item3 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 7;
    background-image: url("Pics/gamedev.png");
}

.grid-item4 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 6;
    background-image: url("Pics/graph.png");
}

.grid-item5 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 5;
    background-image: url("Pics/modelling.png");
}

#send-box {
    border-radius: 80px;
    
    width: auto;
    height: 580px;
    
    margin: 0px 120px;

    background-color: #52D1C8;
}

.send-title {
    text-align: left;
    font: normal normal 600 60px Raleway;
    color: #FFFFFF;
    letter-spacing: 0px;
    opacity: 1;
}

.send-text {
    text-align: left;
    font: normal normal 200 40px Raleway;
    color: #FFFFFF;
    letter-spacing: 0px;
    opacity: 0.9;
}

.send-field {
    outline: none;
    width: 380px;
    height: 60px;
    margin-bottom: 20px;

    background: #52D1C8 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    opacity: 0.8;

    color: white;
}

.send-field:hover {
    background: #42a69f 0% 0% no-repeat padding-box;
}

.send-field:hover:focus:active {
    background: #398e88 0% 0% no-repeat padding-box;
}


input {
    padding-left: 20px;
    text-align: left;
    font: normal normal 200 20px Raleway;
    color: #FFFFFF;
    letter-spacing: 0px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;
}

input::placeholder {
    color: #FFFFFF;
    opacity: 0.7;
}

.dropdown-way {

}

.dropdown-way input {
    padding-left: 20px;
    text-align: left;
    font: normal normal 200 20px Raleway;
    color: #FFFFFF;
    letter-spacing: 0px;
}

.send-left {
    margin: 60px 20px 60px 60px;
}

.send-right {
    margin: 60px 60px 60px 20px;
}

#about-us-do {
    padding: 100px 0px 220px 0px;
}

#ways {
    padding: 100px 0px 220px 0px;
}

#students-works {
    padding: 100px 0px 100px 0px;
}

#pass-application {
    padding: 100px 0px 100px 0px;
}






.flex-rcon {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
}

.flex-rcon > .flex-raw {
    /* -webkit-box-flex-group: auto; */
    flex-grow: 0.5;
    flex: auto;
}

.flex-rcon > .flex-raw-mini {
    flex-shrink: 4;
    flex: auto;
}

.flex-ccon {
    display: flex;
    flex-direction: column;
}

.flex-ccon > .flex-col {
    /* -webkit-box-flex-group: auto; */
    flex: auto;

}

@font-face {
    font-family: "RaleWay-bold";
    src: url("./fonts/Raleway-SemiBold.ttf")format("truetype");
}

@font-face {
    font-family: "RaleWay-extralight";
    src: url("./fonts/Raleway-ExtraLight.ttf")format("truetype");
}
